<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Change Password {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <nav class="navtop">
        <div>
          <h1>Create New Request</h1>
          <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
          <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
          <a href="{{ url_for('userrequest') }}"><i class="fas fa-comment-alt"></i>Create new request</a>
          <a href="{{url_for('historyuserrequest') }}"><i class="fas fa-tasks"></i>History request</a>
          <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>
    <div class = "changepassword">
        <h1>Change Password</h1>
            <form action =" {{ url_for('change_password') }}" method = "post">
                <div>
                    <tag for="password_cr">
                        <i class="fas fa-unlock circle-icon"></i>
                    </tag>
                    <input type="text" name="password_cr" placeholder="Current Password" required>
                </div>
                <div>
                    <tag for="password_new">
                        <i class="fas fa-star circle-icon"></i>
                    </tag>
                    <input type="text" name="password_new" placeholder="New Password"  required>
                </div>
                <div>
                    <tag for="password_ver">
                        <i class="fas fa-check circle-icon"></i>
                    </tag>
                    <input type="text" name="password_ver" placeholder="Verify New Password" required>
                </div>
                    <div class="msg" align = "center">{{ msg }}</div>
                <div class="form-group" align="center">
                    <input type="submit" value="Submit">
                </div>
            </form>
    </div>
</body>
</html>