{% extends "requestcontrollayout.html" %}
{% block body %}
  <div class="row">
    <div style="width:100%">
      <div class="card card-body" align="center">
        <form action="/updaterequest/{{user.id}}" method="POST">
          <div class="form-group">
            <tag for="userofticket">
              <i class="fas fa-id-card circle-icon"></i>
          </tag>
            <input type="text" class="form-control" name="userofticket" value="{{user.userofticket}}" >
        </div>  
          <div class="form-group">
            <tag for="dateofticket">
              <i class="fas fa-calendar circle-icon"></i>
          </tag>
            <input type="date" class="form-control" name="dateofticket" value="{{user.dateofticket}}" >
        </div>
        <div class="form-group">
          <tag for="title">
            <i class="fas fa-tag circle-icon"></i>
        </tag>  
          <input type="text" class="form-control" name="title" value="{{user.title}}" >
        </div>
        <div class="form-group">
          <tag for="name">
            <i class="fas fa-user circle-icon"></i>
        </tag>  
          <input type="text" class="form-control" name="name" value="{{user.name}}" >  
        </div>
        <div class="form-group">
          <tag for="address">
            <i class="fas fa-home circle-icon"></i>
        </tag>
            <input type="text" class="form-control" name="address" value="{{user.address}}">
        </div>
        <div class="form-group">
          <tag for="phonenumber">
            <i class="fas fa-phone circle-icon"></i>
        </tag>  
          <input type="text" class="form-control" name="phonenumber" value="{{user.phonenumber}}">
        </div>
        <div class="form-group">
          <tag for="emailofticket">
            <i class="fas fa-envelope circle-icon"></i>
        </tag>  
          <input type="email" class="form-control" name="emailofticket" value="{{user.emailofticket}}">
        </div>
        <div>
          <tag for="userrequest">
            <i class="fas fa-paper-plane circle-icon"></i>
        </tag>  
          <textarea type="textarea" rows="7" cols="30" name ="userrequest" class="form-control">{{user.userrequest}}</textarea>
        </div>
                <select class="box-select" placeholder="status" name="status" value="{{user.status}}">
                    <option>New</option>
                    <option>Loading</option>
                    <option>Done</option>
                </select>
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
