<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}CREATE NEW REQUEST{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
      <nav class="navtop">
        <div>
          <h1>Create New Request</h1>
          <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
          <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
          <a href="{{ url_for('userrequest') }}"><i class="fas fa-comment-alt"></i>Create new request</a>
          <a href="{{url_for('historyuserrequest') }}"><i class="fas fa-tasks"></i>History request</a>
          <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </nav>
            <div class="userrequest">
                <div class="row">
                    <div class="col-md-16">
                        <h1>Add New Request</h1>
                        <div class="card card-body" align="center">
                            <form action="{{ url_for('userrequest') }}" method="POST" autocomplete="off">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="dateofticket" required>
                                    <tag for="dateofticket">
                                        <i class="fas fa-calendar circle-icon"></i>
                                    </tag>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="title" placeholder="Title" required>
                                    <tag for="title">
                                        <i class="fas fa-tag circle-icon"></i>
                                    </tag>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Name" required>
                                    <tag for="name">
                                        <i class="fas fa-user circle-icon"></i>
                                    </tag>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="address" placeholder="Address" required>
                                    <tag for="address">
                                        <i class="fas fa-home circle-icon"></i>
                                    </tag>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phonenumber" placeholder="Phone number" required>
                                    <tag for="phonenumber">
                                        <i class="fas fa-phone circle-icon"></i>
                                    </tag>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="emailofticket" placeholder="Email" required>
                                    <tag for="emailofticket">
                                        <i class="fas fa-envelope circle-icon"></i>
                                    </tag>
                                </div>
                                <div>
                                    <textarea type="textarea" rows="7" cols="30" name ="userrequest" class="form-control" placeholder="Request" required></textarea>
                                    <tag for="userrequest">
                                        <i class="fas fa-paper-plane circle-icon"></i>
                                    </tag>
                                </div>
                                <div class="msg" align="center">{{ msg }}</div>
                                <div class="form-group" align="center">
                                    <input type="submit" value="Request">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>