{% extends "usercontrollayout.html" %}
{% block body %}
  <div class="row">
    <div class="col-sm-4 offset-md-4">
      <div class="card card-body">
        <form action="/updateuser/{{user.id}}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="username" value="{{user.username}}" >
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" value="{{user.password}}">
              </div>
                <input type="email" class="form-control" name="email" value="{{user.email}}">
              </div>
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
